footer    
    .container
        .row
            .col-2.offest-5.logo.text-center
                img(src="http://hakata-iroha.net/img/common-nav/logo.png")
            .col-8.offset-2.menu.text-center
                .row
                    .col-4
                        a(href="index.html") 首頁
                    .col-4
                        a(href="menu.html") 菜單
                    .col-4
                        a(href="about.html") 關於
            .col-md-6.col-12.offset-md-3.online-shop
                img(src="http://hakata-iroha.net/img/cn/footer/banner-online-shop.png")
        .row
            .col-12.col-sm-3
                img(src="http://hakata-iroha.net/img/cn/footer/banner-shop1.png")
            .col-12.col-sm-3
                img(src="http://hakata-iroha.net/img/cn/footer/banner-shop2.png")
            .col-12.col-sm-3
                img(src="http://hakata-iroha.net/img/cn/footer/banner-shop3.png")
            .col-12.col-sm-3
                img(src="http://hakata-iroha.net/img/cn/footer/banner-shop4.png")
            .col-8.offset-2.copyright
                p Copyright(C) 博多 水たき いろは All rights Reserved.