doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet" href="css/style.css")
		link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
		script(src="js/main.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js")
	body
		include nav.pug
		.main.container-fluid
			.fadeSlider
				.img
				.img
				.img
			.hakata.h2 從昭和28年創業，一直不變的博多傳統味道
		.menu
			.container
				.row
					.col-sm-6.col-12.img
					.col-sm-6.col-12
						.row
							p.col-8.col-md-6  心のこもった
								br
								|こだわりづくしのお料理の数々。
								br
								|他では、味わえない、
								br
								|いろは印の上質な
								br
								|おもてなしを是非ご賞味くださいませ。
							h3.col-2.col-md-2 MENU
		.slider.container-fluid
			.menuSlider
				.col-3.aa1
				.col-3.aa2
				.col-3.aa3
				.col-3.aa4
				.col-3.aa5
				.col-3.aa6
				.col-3.aa7
				.col-3.aa8
				.col-3.aa9
			.button.text-center
				.btn.btn-danger.btn-lg lalala
		.store.container-fluid
			.row
				.col-sm-6
					.container
						a 
							h2 梅田店
								span Umeda
						p モダンな「和」空間で過ごす優雅なひと時。厳選素材と伝統の調理法で味わう極上のお料理を落ち着いた雰囲気の中のお楽しみください。
						ul
							li
								a.btn.btn-dark フォトギャラリー
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark 店舗情報
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark アクセスマップ
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark 博多本店ブログ
									span.fa.fa-chevron-right
				.col-sm-6
					.container
						h2 北新地店
							span Kitashinchi
						p カウンター席から個室、地下の宴会個室など様々なシーンで御利用頂ける北新地店で、厳選食材、秘伝の技法で丹念に作られた「博多味処いろは」伝統の味をご堪能下さい。
						ul
							li
								a.btn.btn-dark フォトギャラリー
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark 店舗情報
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark アクセスマップ
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark 博多本店ブログ
									span.fa.fa-chevron-right
				.col-sm-6
					.container
						h2 博多店
							span Hakata
						p 創業昭和28年 福岡博多伝統の味。十分に吟味した素材を使い、代々受けついだ調理法で、変わらない伝統の味と特別な時間をご提供させていただきます。
						ul
							li
								a.btn.btn-dark フォトギャラリー
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark 店舗情報
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark アクセスマップ
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark 博多本店ブログ
									span.fa.fa-chevron-right
				.col-sm-6
					.container
						h2 宗右衛門町店
							span Souemoncho
						p 福岡 博多の味を遠く大阪の地へ。博多の人々が愛した伝統の味とおもてなしの心を大切な時間をごゆっくりお過ごしいただけます
						ul
							li
								a.btn.btn-dark フォトギャラリー
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark 店舗情報
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark アクセスマップ
									span.fa.fa-chevron-right
							li
								a.btn.btn-dark 博多本店ブログ
									span.fa.fa-chevron-right
		include footer.pug
