* {
  font-family: Microsoft JhengHei; }

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0; }

img {
  width: 100%; }

footer {
  background-color: #0D1B4C;
  padding: 30px 0; }
  footer .col-md-6 {
    margin-bottom: 20px; }
  footer .logo img {
    width: 80px;
    -webkit-filter: invert(100%);
    filter: invert(100%); }
  footer .menu {
    padding: 30px 0;
    font-size: 20px; }
    footer .menu a {
      color: #fff;
      font-weight: bold; }
      footer .menu a:hover {
        color: #ffffff; }
  footer .copyright {
    text-align: center;
    color: #fff; }

.main .fadeSlider .img {
  height: 390px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px; }

.main .fadeSlider .img:nth-of-type(1) {
  background-image: url("../image/daben.jpg"); }

.main .fadeSlider .img:nth-of-type(2) {
  background-image: url("../image/fish.jpg"); }

.main .fadeSlider .img:nth-of-type(3) {
  background-image: url("../image/taco.jpg"); }

.main .hakata {
  color: #fff;
  position: absolute;
  left: 100px;
  bottom: 200px;
  text-shadow: 0px 0px 5px #000; }

.menu {
  padding: 50px 0; }
  .menu .img {
    background-image: url("../image/egg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px; }
  .menu p {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    line-height: 2em; }
  .menu h3 {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-align: center; }

.slider .col-3 {
  width: 360px;
  height: 240px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px; }
  .slider .col-3.aa1 {
    background-image: url(../image/a1.jpg); }
  .slider .col-3.aa2 {
    background-image: url(../image/a2.jpg); }
  .slider .col-3.aa3 {
    background-image: url(../image/a3.jpg); }
  .slider .col-3.aa4 {
    background-image: url(../image/a4.jpg); }
  .slider .col-3.aa5 {
    background-image: url(../image/a5.jpg); }
  .slider .col-3.aa6 {
    background-image: url(../image/a6.jpg); }
  .slider .col-3.aa7 {
    background-image: url(../image/a7.jpg); }
  .slider .col-3.aa8 {
    background-image: url(../image/a8.jpg); }
  .slider .col-3.aa9 {
    background-image: url(../image/a9.jpg); }

.slider .button {
  padding: 50px 0; }
  .slider .button .btn.btn-danger.btn-lg {
    border-radius: 2px;
    font-weight: 300;
    background-color: #E7475E;
    padding: 5px 25px; }

.slider.container-fluid {
  padding: 0; }

.store .container {
  width: 75%; }

.store .col-sm-6 {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  color: #fff; }
  .store .col-sm-6 h2 {
    z-index: 999;
    position: relative; }
  .store .col-sm-6 p {
    z-index: 999;
    position: relative; }
  .store .col-sm-6 span {
    z-index: 999;
    position: relative;
    font-size: 12px; }
  .store .col-sm-6 ul {
    z-index: 999;
    position: relative;
    list-style: none; }
    .store .col-sm-6 ul li {
      display: inline-block; }
      .store .col-sm-6 ul li a {
        border-radius: 0;
        width: 150px;
        background-color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        text-align: left;
        position: relative; }
        .store .col-sm-6 ul li a span {
          position: absolute;
          right: 5px;
          top: 10px; }
  .store .col-sm-6::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .store .col-sm-6:hover::before {
    opacity: 0; }

.store .col-sm-6:nth-of-type(1) {
  background-image: url("http://hakata-iroha.net/img/top/shop1-bg-sp.png"); }

.store .col-sm-6:nth-of-type(2) {
  background-image: url("http://hakata-iroha.net/img/top/shop2-bg-sp.png"); }

.store .col-sm-6:nth-of-type(3) {
  background-image: url("http://hakata-iroha.net/img/top/shop3-bg-sp.png"); }

.store .col-sm-6:nth-of-type(4) {
  background-image: url("http://hakata-iroha.net/img/top/shop4-bg-sp.png"); }

@media screen and (max-width: 480px) {
  .main .img {
    background-position: center; }
  .main .hakata {
    font-size: 18px;
    left: 5px;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl; }
  .menu .img {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
    background-position: center; }
  .menu .col-sm-6.col-12 {
    padding: 10px 0; }
  .store .container {
    width: 100%; }
  footer .col-6 img {
    margin-top: 15px; } }

@media screen and (max-width: 576px) {
  .menu .col-8 {
    margin-top: 30px; } }
